.roles span {
  font-family: monospace;
  color: #fff;
  font-size: 1.2em;
  margin: 0 1em;
}

.roles span:hover {
  background-color: #f23f52;
}

.roles,
.social {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-bottom: 1em;
}

.social > * {
  margin-right: 0.5em;
  color: #eb4c5c;
  font-size: 1.2em;
  cursor: pointer;
}

.quote {
  margin-top: 0.9em;
  font-family: monospace;
  color: #fff;
  font-size: 1em;
  width: 100%;
  text-align: center;
  display: inline-block;
}

.blog {
  font-family: 'monospace';
  font-size: 1em;
  text-decoration: none;
}

@media (max-width: 500px) {
  .roles span {
    font-size: 0.65em;
  }

  .quote {
    font-size: 0.65em;
  }

  .social > * {
    font-size: 0.8em;
  }
  .blog {
    font-size: 0.8em;
  }
}
