.roles span {
  font-family: monospace;
  color: #fff;
  font-size: 1.2em;
  margin: 0 1em;
}

.roles span:hover {
  background-color: #f23f52;
}

.roles {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-bottom: 1em;
}

.quote {
  margin-top: 0.8em;
  font-family: monospace;
  color: #fff;
  font-size: 1em;
  width: 100%;
  text-align: center;
  display: inline-block;
}
